name: Auto version update

on:
    pull_request:
        branches: ['main']
        types: [closed]

jobs:
    create_branch:
        name: Create a branch
        if: github.event.pull_request.merged == true
        runs-on: ubuntu-latest
        permissions:
            contents: write
        outputs:
            branch: ${{ steps.create_branch.outputs.branch }}
            version: ${{ steps.get_version.outputs.version }}
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Setup node.js
              uses: actions/setup-node@v5
              with:
                  node-version: 20
                  cache: 'yarn'

            - name: Get version
              id: get_version
              run: |
                  VERSION=$(node -p "require('./package.json').version")
                  echo "Current version: $VERSION"
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Create branch
              id: create_branch
              run: |
                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"

                  BRANCH_NAME="release/update-version/v${{ steps.get_version.outputs.version }}"
                  echo "branch=$BRANCH_NAME" >> $GITHUB_OUTPUT

                  git checkout -b $BRANCH_NAME
                  git push origin $BRANCH_NAME

    update_version:
        name: Update version
        needs: create_branch
        runs-on: ubuntu-latest
        permissions:
            contents: write
        outputs:
            new_version: ${{ steps.update_version.outputs.new_version }}
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  ref: ${{ needs.create_branch.outputs.branch }}

            - name: Setup node.js
              uses: actions/setup-node@v5
              with:
                  node-version: 20
                  cache: 'yarn'

            - name: Update version
              id: update_version
              run: |
                  # Update the version
                  yarn version --patch --no-git-tag-version

                  # Get the new version
                  VERSION=$(node -p "require('./package.json').version")
                  echo "new_version=$VERSION" >> $GITHUB_OUTPUT

                  git config user.name "github-actions[bot]"
                  git config user.email "github-actions[bot]@users.noreply.github.com"

                  # Commit the version change
                  git add package.json
                  git commit -m "chore: Update version (v$VERSION)"

                  git push origin ${{ needs.create_branch.outputs.branch }}
            
    create_pr:
        name: Create pull request (Auto merge)
        needs: [create_branch, update_version]
        runs-on: ubuntu-latest
        env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        permissions:
            contents: write
            pull-requests: write
        steps:
            - name: Checkout
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  ref: ${{ needs.create_branch.outputs.branch }}

            - name: Add label
              run: |
                  if [ ! gh label list | grep -q "Automated" ]; then
                      gh label create "Automated" --color 1d76db --description "automated merge PRs"
                  fi

            - name: Create a pull request
              id: create_pr
              run: |
                  PR_URL=$(gh pr create \
                    --base main \
                    --head ${{ needs.create_branch.outputs.branch }} \
                    --title "chore: Update version (v${{ needs.update_version.outputs.new_version }})" \
                    --labels "Automated" \
                    --body "Automated version update after merge.
                    
                    - Previous version: v${{ needs.create_branch.outputs.version }}
                    - New version: v${{ needs.update_version.outputs.new_version }}")

                  echo "pr_url=$PR_URL" >> $GITHUB_OUTPUT
            
            - name: Auto approve PR
              run: gh pr review --approve ${{ steps.create_pr.outputs.pr_url }}
            
            - name: Enable auto merge
              run: gh pr merge "${{ steps.create_pr.outputs.pr_url }}" --auto --rebase
            