name: Create a release tag

on:
  push:
    branches: ["main"]
    tags: ["v*.*.*"]

jobs:
  update_version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "yarn"

      - name: Get a version number
        id: get_version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create a tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git push origin v${{ steps.get_version.outputs.version }}

      - name: Create a release tag
        uses: ncipollo/release-action@v1
        with:
          name: v${{ steps.get_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
