name: Create a release tag

on:
  pull_request:
    branches: ['main']
    types: [closed]

jobs:
  create_tag:
    name: Create Tag and Release
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/update-version')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "yarn"

      - name: Get version
        id: get_version
        run: |
          # Get the new version
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Create a tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git tag -a v${{ steps.get_version.outputs.version }} -m "Update version (v${{ steps.get_version.outputs.version }})"
          git push origin v${{ steps.get_version.outputs.version }}

  create_release:
    name: Create a Github Release
    needs: create_tag
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Create a release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
          name: v${{ needs.create_tag.outputs.version }}
          skipIfReleaseExists: true
          tag: v${{ needs.create_tag.outputs.version }}
          makeLatest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
