name: Create a release tag

on:
  pull_request:
    branches: ['main']
    types: [closed]

jobs:
  create_tag_and_release:
    name: Create Tag and Release
    if: github.event.pull_request.merged == true && startsWith(github.event.pull_request.head.ref, 'release/update-version') && contains(join(github.event.pull_request.labels.*.name, ','), 'Automated')
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "yarn"

      - name: Update version
        id: update_version
        run: |
          # Update the version
          yarn version --patch --no-git-tag-version

          # Get the new version
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT

          # Configure git
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          # Commit the version change
          git add package.json
          git commit -m "chore: Update version ($VERSION)"
          git push origin main

      - name: Create a tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git tag -a v${{ steps.update_version.outputs.version }} -m "Update version (${{ steps.update_version.outputs.version }})"
          git push origin v${{ steps.update_version.outputs.version }}

      - name: Create a release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
          name: v${{ steps.update_version.outputs.version }}
          skipIfReleaseExists: true
          tag: v${{ steps.update_version.outputs.version }}
          makeLatest: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
