name: Create a release tag

on:
  pull_request:
    types: [closed]

jobs:
  create_tag_and_release:
    name: Create Tag and Release
    if: github.event.pull_request.merged == true && github.event.pull_request.base.ref == 'main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "yarn"

      - name: Parse PR template
        id: parse_template
        env:
          PR_BODY: ${{ github.event.pull_request.body }}
        run: |
          node << 'EOF'
          const fs = require('fs');

          const message = process.env.PR_BODY;

          function extractSection(text, start, end = null) {
            const regex = end
              ? new RegExp('## ' + start + '[\\s\\S]*?(?=## ' + end + '|$)', 'g')
              : new RegExp('## ' + start + '[\\s\\S]*', 'g');
            const match = text.match(regex);
            if (!match) return '';
            return match[0]
              .replace(new RegExp('## ' + start, 'g'), '')
              .replace(/<!--[\s\S]*?-->/g, '')
              .replace(/\n{2,}/g, '\n')
              .trim();
          }

          function extractVersion(text) {
            const _split = text.trim().split('v');
            return _split.length > 1 ? _split[1].trim() : '';
          }

          // Extract and clean
          const version = extractVersion(extractSection(message, 'Version', 'Summary'));
          // base64 인코딩
          const encode = str => Buffer.from(str, 'utf-8').toString('base64');
          fs.appendFileSync(process.env.GITHUB_OUTPUT, `version=${encode(version)}\n`);
          EOF

      - name: Decode version
        id: decode_version
        run: |
          VERSION_DECODED=$(echo "${{ steps.parse_template.outputs.version }}" | base64 --decode)
          echo "version=$VERSION_DECODED" >> $GITHUB_OUTPUT

      - name: Create a tag
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git tag -a ${{ steps.decode_version.outputs.version }} -m "Update version (${{ steps.parse_template.outputs.version }})"

          git push origin ${{ steps.decode_version.outputs.version }}

      - name: Create a release
        uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
          name: v${{ steps.decode_version.outputs.version }}
          skipIfReleaseExists: true
          tag: v${{ steps.decode_version.outputs.version }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
