name: Verify PR template

on:
  pull_request:
    types: [edited, opened, reopened, synchronize]

jobs:
  verify_template:
    name: Verify PR Template
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "yarn"

      - name: Parse PR template
        id: parse_template
        env:
          PR_BODY: ${{ github.event.pull_request.body }}
        run: |
          node << 'EOF'
          const fs = require('fs');

          const message = process.env.PR_BODY;

          function extractSection(text, start, end = null) {
            const regex = end
              ? new RegExp('## ' + start + '[\\s\\S]*?(?=## ' + end + '|$)', 'g')
              : new RegExp('## ' + start + '[\\s\\S]*', 'g');
            const match = text.match(regex);
            if (!match) return '';
            return match[0]
              .replace(new RegExp('## ' + start, 'g'), '')
              .replace(/<!--[\s\S]*?-->/g, '')
              .replace(/\n{2,}/g, '\n')
              .trim();
          }

          function extractVersion(text) {
            const _split = text.trim().split('v');
            return _split.length > 1 ? _split[1].trim() : '';
          }

          // Extract and clean
          const version = extractVersion(extractSection(message, 'Version', 'Summary'));
          // base64 인코딩
          const encode = str => Buffer.from(str, 'utf-8').toString('base64');
          fs.appendFileSync(process.env.GITHUB_OUTPUT, `version=${encode(version)}\n`);
          EOF

      - name: Decode version
        id: decode_version
        run: |
          VERSION_DECODED=$(echo "${{ steps.parse_template.outputs.version }}" | base64 --decode)
          echo "version=$VERSION_DECODED" >> $GITHUB_OUTPUT

      - name: Verify version
        run: |
          if [ -z "${{ steps.decode_version.outputs.version }}" ]; then
            echo "Error: Version section is missing or empty in the PR template."
            exit 1
          elif ! [[ ${{ steps.decode_version.outputs.version }} =~ ^[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Error: Version format is invalid. Expected format: X.Y.Z"
            exit 1
          else
            exit 0
          fi

      - name: Add failure label
        if: failure()
        run: |
          LABEL_NAME="빌드실패"
          LABEL_COLOR="FF0000"
          # 레이블이 없으면 생성
          if ! gh label list | grep -q "^$LABEL_NAME"; then
            gh label create "$LABEL_NAME" --color "$LABEL_COLOR" --description "빌드 실패 레이블"
          fi
          # PR에 레이블 추가
          gh pr edit ${{ github.event.pull_request.number }} --add-label "$LABEL_NAME"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Remove failure label (if success)
        if: success()
        uses: actions-ecosystem/action-remove-labels@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          labels: 빌드실패
