name: Verify PR template

on:
  pull_request:
    types: [edited, opened, reopened]

jobs:
  verify_template:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Setup node.js
        uses: actions/setup-node@v5
        with:
          node-version: 20
          cache: "yarn"

      - name: Parse PR template
        id: parse_template
        env:
          pr_body: ${{ github.event.pull_request.body }}
        run: |
          node << EOF
          const fs = require('fs');

          const message = process.env.pr_body;

          function extractSection(text, start, end = null) {
            const regex = end
              ? new RegExp('## ' + start + '[\\s\\S]*?(?=## ' + end + '|$)', 'g')
              : new RegExp('## ' + start + '[\\s\\S]*', 'g');
            const match = text.match(regex);
            if (!match) return '';
            return match[0]
              .replace(new RegExp('## ' + start, 'g'), '')
              .replace(/<!--[\s\S]*?-->/g, '')
              .replace(/\n{2,}/g, '\n')
              .trim();
          }

          function convertSlackLinks(text) {
            return text.replace(/\[([^\]]+)\]\((https:\/\/[^\s)]+)\)/g,'<$2|$1>');
          }

          function cleanIndentation(text) {
            return text
              .split('\n')
              .map(line => line.trim())
              .join('\n');
          }

          // Extract and clean
          const version = cleanIndentation(extractSection(message, 'Version', 'Summary'));
          // base64 인코딩
          const encode = str => Buffer.from(str, 'utf-8').toString('base64');
          fs.appendFileSync(process.env.GITHUB_OUTPUT, `version=${encode(version)}\n`);
          EOF

      - name: Decode version
        id: decode_version
        run: |
          VERSION_DECODED=$(echo "${{ steps.parse_template.outputs.version }}" | base64 --decode)
          echo "version=$VERSION_DECODED"

      - name: Verify version
        run: |
          if [ -z "${{ steps.decode_version.outputs.version }}" ]; then
            echo "Error: Version section is missing or empty in the PR template."
            exit 1
          elif ! [[ "${VERSION_DECODED}" =~ ^v[0-9]+\.[0-9]+\.[0-9]+$ ]]; then
            echo "Error: Version format is invalid. Expected format: vX.Y.Z"
            exit 1
          else
            exit 0
          fi
